@CHARSET "ISO-8859-1";
h2.sansserif{
	
	font-family:sans-serif;
}
h2{text-decoration: line-through;}
h3.sansserif
{
	
	font-family:sans-serif;
}
h3{text-decoration: underline;}
h1.sansserif
{
	
	font-family:sans-serif;
}
h4.sansserif
{
	font-family:sans-serif;
}
